@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-Digital-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-Digital.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// scrollbars start
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba($color-border, .5) rgba($color-border, .1);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba($color-border, .1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba($color-border, .5);
  border-radius: 20px;
  border: 3px solid rgba($color-border, .1);
}
// scrollbars end

body {
  margin: 0;
  background-color: $bg-main;
}

.d-flex {
  display: flex;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}