@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-Digital-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-Digital.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-height: 100%;
}

// scrollbars start
/* Works on Firefox */
.scroll {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba($color-border, 0.5) rgba($color-border, 0.1);
}

/* Works on Chrome, Edge, and Safari */
.scroll::-webkit-scrollbar {
  width: 0.75rem;
}

.scroll::-webkit-scrollbar-track {
  background: rgba($color-border, 0.1);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba($color-border, 0.5);
  border-radius: 1.25rem;
  border: 0.1875rem solid rgba($color-border, 0.1);
}
// scrollbars end

.no-scroll {
  overflow: hidden;
}

html {
  @media (max-width: 1680px) {
    font-size: 14px;
  }

  @media (max-width: 1440px) {
    font-size: 13px;
  }

  @media (max-width: 1366px) {
    font-size: 12px;
  }

  @media (max-width: 1280px) {
    font-size: 11px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background-color: $bg-main;
  overflow-x: hidden;

  @media (max-width: 1180px) {
    overflow-x: initial;
  }
}

.d-flex,
.row {
  display: flex;
}

.wrapper {
  @media (max-width: 1180px) {
    flex-direction: column-reverse;
  }
}

.row {
  @media (max-width: 1180px) {
    flex-direction: column;
  }
}

.center {
  text-align: center;
}

.ai-center {
  align-items: center;
}

.jc-between {
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

.h-100 {
  height: 100%;
}

.row {
  gap: 1vw;
}

.container {
  &-general {
    gap: 0.75rem;
    max-height: 100vh;
    flex-grow: 1;

    @media (max-width: 1180px) {
      max-height: unset;
      flex-direction: column;
    }
  }
}

.left-col,
.right-col {
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  @media (max-width: 1180px) {
    max-height: unset;
  }
}

.left-col {
  align-items: center;
  width: 22rem;

  @media (max-width: 1400px) {
    max-width: 15vw;
  }

  @media (max-width: 1180px) {
    width: 100%;
    max-width: 100%;
    margin-top: 5rem;
  }
}

.right-col {
  flex-grow: 1;

  &:only-child {
    max-width: unset;
  }

  @media (max-width: 1400px) {
    max-width: 79vw;
  }

  @media (max-width: 1180px) {
    max-width: 100vw;
    margin-bottom: 5rem;
  }
}

.main-col {
  width: 53rem;
  max-height: 87vh;
  flex-grow: 1;
  transition: 0.3s;

  @media (max-width: 1366px) {
    max-height: 89vh;
  }

  @media (max-width: 1180px) {
    min-width: 100%;
    width: 100%;
    max-height: unset;
  }

  &-full {
    max-width: 100%;
  }

  &-only {
    margin: 0 0.75rem;

    @media (max-width: 1180px) {
      margin: 5rem 1rem 0;
      min-width: unset;
      max-width: calc(100% - 2rem);
    }
  }
}

.col {
  &:only-child {
    width: 100%;
  }
}
