.hash-text,
.code-text {
  background-color: $color-darkblue;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 120%;
  font-weight: 600;
  color: $color-border;
  border: 0;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  min-width: 3rem;
  max-width: 12.1875rem;
  overflow: hidden;
  transition: 0.3s;

  &-icon {
    margin-right: 0.375rem;
    min-width: 0.75rem;
    max-width: 0.75rem;
    transition: 0.3s;

    path {
      stroke: $color-border;
    }
  }

  &-content {
    margin: 0;
  }

  &:hover {
    color: $color-blue;
    background-color: rgba($color-blue, 20%);

    .hash-text-icon {
      path {
        stroke: $color-blue;
      }
    }
  }

  &:active {
    color: rgba($color-blue, 50%);
    background-color: rgba($color-blue, 20%);
    .hash-text-icon {
      path {
        stroke: rgba($color-blue, 50%);
      }
    }
  }
}

.code-text {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  max-width: 100%;
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  background-color: $color-placeholder;
}

.ratio {
  &-container {
    display: flex;
    align-items: center;
    overflow: auto;
    background-color: rgba($color-border, 0.1);
    border-radius: 16px;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
  }
  &-item {
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    padding: 0.375rem 0.875rem;
    display: inline-block;
    margin-right: 0.625rem;
    transition: 0.3s;
    white-space: nowrap;
    transition: 0.3s;

    &-gold {
      border-color: $color-gold;

      &:hover {
        background-color: rgba($color-gold, 0.3);
      }
    }
    &-green {
      border-color: $color-green;

      &:hover {
        background-color: rgba($color-green, 0.3);
      }
    }
    &-red {
      border-color: $color-red;

      &:hover {
        background-color: rgba($color-red, 0.3);
      }
    }
    &-purple {
      border-color: $color-purple;

      &:hover {
        background-color: rgba($color-purple, 0.3);
      }
    }
  }
  &-choice {
    &-container {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      flex-direction: column;
      align-items: flex-start;
    }
    &-row {
      display: flex;
    }
    &-item {
      padding: 1rem;
      border-radius: 1rem;
      line-height: 1;
      font-weight: 600;
      cursor: pointer;
      background-color: rgba($color-blue, 0.1);
      color: $color-blue;
      border-color: transparent;

      &.active {
        background-color: $color-blue;
        color: white;
      }
    }
  }
}

.notification {
  position: relative;
  width: 1rem;
  height: 1rem;
  display: inline-block;

  path {
    transition: 0.3s;
  }

  &:hover {
    path {
      stroke: #97a7db;
    }
  }

  &:active {
    path {
      stroke: white;
    }
  }

  &-unread {
    &:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      top: 0.1875rem;
      right: -0.125rem;
      width: 0.3125rem;
      height: 0.3125rem;
      background: linear-gradient(45deg, #a03434 0%, #ff985e 100%);
      border: 0.125rem solid #1f2745;
      display: inline-block;
    }
  }
}

.avatar {
  background-color: $color-darkblue;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: relative;
  overflow: hidden;

  &-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }

  &-l {
    width: 4rem;
    height: 4rem;
  }

  &-m {
    width: 3.125rem;
    height: 3.125rem;
  }

  &-s {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.note {
  padding: 0.75rem 1.5rem;
  background-color: $color-placeholder;
  color: $color-lightblue;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 27.8125rem;

  &-icon {
    width: 1.875rem;
    margin-right: 1.25rem;
  }

  &-problem,
  &-success,
  &-error {
    color: white;
  }

  &-problem {
    background-color: rgba($color-gold, 10%);
  }

  &-success {
    background-color: rgba($color-green, 10%);
  }

  &-error {
    background-color: rgba($color-red, 10%);
  }
}

.gradient-top-dark {
  background: linear-gradient(180deg, rgba(69, 84, 137, 0) 0%, rgba($color-border, 0.1) 100%);
  border-radius: 1rem;
}

.auth {
  &-wait,
  &-request {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      font-weight: 600;
      max-width: 15.625rem;
      text-align: center;
    }
  }
  &-wait {
    padding: 5vh 0;
    position: relative;
    &-img {
      position: relative;
      width: 14.375rem;
      height: 14.375rem;
    }
    &-rifle,
    &-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-rifle {
      width: 14.375rem;
      z-index: 1;
    }
    &-circle {
      width: 12.8125rem;
    }
  }
  &-request {
    padding: 5vh 2rem;
    width: 100%;
    flex-grow: 1;

    .text {
      color: white;
      margin-bottom: 1.5rem;
    }

    @media (max-width: 1180px) {
      padding-top: 0;
    }
  }
  &-items {
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 1rem 1.25rem;
    }
    .btn-auth {
      background-image: url(../img/other/auth-btn-bg.svg);
      background-size: cover;
      background-position: center;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .auth-wait {
      padding: 0;
      flex-grow: 1;
    }
    &-deposit {
      display: flex;
      align-items: flex-end;
      .form-input-text {
        max-width: 8rem;
        margin-right: 1rem;
      }
      @media (max-width: 768px) {
        flex-direction: column;

        .form {
          width: 100%;
          &-input-text {
            max-width: 100%;
            margin-right: 0;
          }
        }
      }
    }
    &-settings {
      margin-left: 1.5rem;
      @media (max-width: 1180px) {
        margin-left: 0;
      }
    }
    &-inventory {
      margin-bottom: 1.5rem;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      &-img {
        max-width: 2.1875rem;
        margin-right: 0.75rem;
      }
      &-choice {
        background-color: #4e70e9;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem 0 0 0.5rem;
        @media (max-width: 768px) {
          flex-grow: 1;
          min-height: 50px;
          align-items: center;
          border-radius: 1rem 1rem 0 0;
        }
        &-text,
        &-sum {
          color: white;
        }
        p {
          color: white;
        }
        &-sum {
          font-weight: 700;
          font-size: 0.875rem;
          line-height: 1.3125rem;
          margin: 0;
        }
        &-sign {
          font-weight: 600;
          font-size: 0.625rem;
          line-height: 0.9375rem;
          margin: 0;
        }
      }
      &-choose {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: rgba($color-blue, 0.1);
        @media (max-width: 768px) {
          flex-grow: 1;
          min-height: 50px;
          align-items: center;
          border-radius: 0 0 1rem 1rem;
        }
        &-text {
          font-weight: 600;
          font-size: 0.625rem;
          line-height: 0.9375rem;
          color: $color-text-body;
          margin: 0;
          padding-right: 0.5rem;
          max-width: 80%;
        }
        &-icon {
          @media (max-width: 1180px) {
            margin-left: auto;
          }
        }
      }
      &-dots {
        max-width: 0.25rem;
        margin-left: 2rem;
        @media (max-width: 768px) {
          margin-left: auto;
        }
      }
    }
  }
}

.timer {
  position: relative;
  &-img {
    max-width: 100%;
  }
  &-text {
    color: white;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 47%;
    left: 39%;

    @media (max-width: 1180px) {
      top: 50%;
      left: 47%;
    }

    @media (max-width: 480px) {
      left: 44vw;
    }

    @media (max-width: 370px) {
      left: 43vw;
    }

    @media (max-width: 340px) {
      left: 41vw;
    }

    * {
      font-family: "DS-Digital";
      line-height: 0.6;
    }

    &-ticker {
      font-size: 2.5rem;

      @media (max-width: 1366px) {
        font-size: 2rem;
      }

      @media (max-width: 1180px) {
        font-size: 2.5rem;
      }
    }

    &-sec {
      font-size: 1.25rem;

      @media (max-width: 1366px) {
        font-size: 1rem;
      }

      @media (max-width: 1180px) {
        font-size: 1.25rem;
      }
    }
  }
}

.stats {
  &-container {
    overflow-y: auto;
  }
  &-row {
    display: flex;
    align-items: center;
    background-color: rgba($color-border, 0.1);
    border-radius: 1rem;
    padding: 0.625rem 1.75rem 0.625rem 1.25rem;
    margin: 0.75rem 0;
    overflow: hidden;

    &-left,
    &-right {
      width: 55%;
      display: flex;
      align-items: center;
    }
    &-right {
      width: 45%;
    }
    &-top {
      padding: 1rem 2rem;
      margin: 0 0 0.25rem;

      &-heading {
        color: white;
        font-weight: 600;
        font-size: 1rem;
        white-space: nowrap;
        margin: 0 1.5rem 0 1rem;
      }

      &-item {
        display: flex;
        margin-left: 2rem;
        align-items: center;

        img {
          margin-right: 1rem;
          max-height: 1.5rem;
        }

        &-text {
          margin: 0;
          font-size: 0.75rem;
          font-weight: 600;
          color: $color-text-body;
          display: flex;
          flex-direction: column;

          @media (max-width: 768px) {
            font-size: 0;
          }

          b {
            color: white;
            font-weight: 700;
            font-size: 1rem;
            white-space: nowrap;
          }
        }

        @media (max-width: 1366px) {
          margin-left: auto;
        }

        @media (max-width: 768px) {
          margin: 0 auto;
        }

        @media (max-width: 480px) {
          margin: 0 auto 0 0;
        }
      }
      &-left {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
          padding: 1.125rem;
        }

        @media (max-width: 480px) {
          .hash-text,
          .code-text {
            max-width: 8rem;
          }
        }
      }
      &-right {
        display: flex;
        flex-grow: 1;

        @media (max-width: 768px) {
          width: 100%;
          background-color: rgba($color-border, 0.1);
          padding: 1.25rem 1.125rem;
        }
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;
        margin: 0 1rem;
        padding: 0;
      }
    }
    &-win {
      background-color: rgba($color-green, 0.1);
    }
    &-lose {
      background-color: rgba($color-red, 0.1);
    }
  }
  &-guns {
    &-row {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: 2rem;

      @media (max-width: 768px) {
        display: none;
      }
    }
    &-item {
      max-height: 2.5rem;
    }
  }
  &-amount {
    font-weight: 600;
    font-size: 0.875rem;
    color: white;
  }
  &-avatar {
    position: relative;
    margin-right: 2rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
  &-result {
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    padding: 0.625rem 1.25rem;
    border-radius: 8px;
    background-color: rgba($color-border, 0.1);
    &-img {
      width: 3.4375rem;
      margin-left: auto;
    }
    &-win {
      background-color: rgba($color-green, 0.1);
    }
    &-lose {
      background-color: rgba($color-red, 0.1);
    }

    @media (max-width: 768px) {
      display: none;
    }

    &-in {
      margin-left: auto;

      @media (max-width: 768px) {
        display: inline-block;
      }
    }
  }
  &-money {
    margin-left: auto;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: white;
    &-win {
      color: $color-green;
    }
    &-lose {
      color: $color-red;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.history-link {
  margin: 0 0 0 1.25rem;
  img {
    width: 1.125rem;
  }
}

.stake {
  display: flex;
  flex-direction: column;

  &-empty {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;

    &-icon {
      width: 3.75rem;
    }
  }

  &-heading {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    text-align: center;
    color: white;
    margin: 2rem 0 0.5rem;
  }

  &-text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: $color-text-body;
  }
}

// accordion
.accordion {
  width: 100%;
  margin-bottom: 0.75rem;
  transition: 0.3s;
  &-btn {
    background-color: rgba($color-border, 0.1);
    border-radius: 1rem;
    border: none;
    outline: none;
    text-align: left;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $color-text-body;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    width: 100%;
    user-select: none;
    &:after {
      content: "";
      width: 0.75rem;
      height: 0.375rem;
      display: inline-block;
      background-image: url(../img/icons/arrow-dropdown-dark.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 1.875rem;
      top: 45%;
      transform: translate(-50%);
      transition: 0.3s;
    }
  }
  &-text {
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0;
    padding: 1rem 1.5rem 1.5rem;
    display: none;
  }
  &.is-open {
    background: rgba($color-border, 0.1);
    border-radius: 16px;
    .accordion-text {
      display: block;
    }
  }
}

.accordion-btn.is-open:after {
  transform: rotate(180deg);
}

.accordion-btn:hover,
.accordion-btn.is-open {
  background-color: rgba($color-border, 0.2);
}

.box {
  background-color: rgba($color-border, 0.1);
  border-radius: 1rem;
  padding: 1.75rem 2rem 1.5rem;
  &-heading {
    display: flex;
    align-items: center;
    width: 100%;
    &-icon {
      margin-right: 1rem;
      max-height: 1rem;
    }
    &-name {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #ffffff;
      margin-right: 1.5rem;
    }
    &-right {
      margin-left: auto;
      font-weight: 600;
      font-size: 0.875rem;
      color: #576cb0;
    }
  }
}

.game {
  &-stats {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  &-single {
    flex-grow: 1;
    .hash-text {
      max-width: 25rem;
      margin-left: auto;
    }
    &-results {
      display: flex;
      margin: 1.875rem 0 1.5rem;
      &-icon {
        max-width: 1.125rem;
        margin-right: 1.125rem;
      }
    }
    &-money,
    &-skins {
      display: flex;
      align-items: center;
      height: 3.875rem;
      padding: 1.25rem 1.75rem;
      border-radius: 1rem;
      p {
        color: white;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0;
      }
    }
    &-money {
      min-width: 12.5rem;
      background-color: rgba($color-blue, 0.2);
    }
    &-skins {
      background-color: rgba($color-blue, 0.1);
      margin-left: 0.5rem;
      flex-grow: 1;
      p {
        width: 100%;
        text-align: center;
      }
    }
    &-ratio {
      background: rgba($color-border, 0.1);
      border-radius: 1rem;
      min-height: 1rem;
    }
  }
  &-chance {
    background: rgba($color-border, 0.1);
    border-radius: 0.5rem;
    color: #576cb0;
    text-align: center;
    padding: 0.875rem;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 1.25rem;
  }
  &-profile {
    &-info {
      display: flex;
      align-items: center;
      margin: 1.5rem 0 1.25rem 0;
      .avatar {
        img {
          width: 50px;
        }
      }
      &-text {
        margin-left: 1rem;
      }
      &-name,
      &-sum {
        margin: 0;
        color: #fff;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.3125rem;
      }
      &-sum {
        color: $color-gold;
      }
    }
  }
}

.giveaway-sign {
  display: flex;
  align-items: center;
  color: $color-text-body;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 600;
  &-timer {
    margin-left: 1rem;
    font-family: "DS-Digital";
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 100%;
    color: #fff;
    padding: 0.3125rem 0.4375rem;
    background-color: $color-placeholder;
    border-radius: 0.1875rem;
  }
}
