.hash-text {
  background-color: $color-darkblue;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 120%;
  font-weight: 600;
  color: $color-border;
  border: 0;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  min-width: 3rem;
  max-width: 12.1875rem;
  overflow: hidden;
  transition: 0.3s;

  &-icon {
    margin-right: 0.375rem;
    min-width: 0.75rem;
    max-width: 0.75rem;
    transition: 0.3s;

    path {
      stroke: $color-border;
    }
  }

  &-content {
    margin: 0;
  }

  &:hover {
    color: $color-blue;
    background-color: rgba($color-blue, 20%);

    .hash-text-icon {
      path {
        stroke: $color-blue;
      }
    }
  }

  &:active {
    color: rgba($color-blue, 50%);
    background-color: rgba($color-blue, 20%);
    .hash-text-icon {
      path {
        stroke: rgba($color-blue, 50%);
      }
    }
  }
}

.ratio {
  &-container {
    display: flex;
    align-items: center;
    overflow: auto;
    background-color: rgba($color-border, 0.1);
    border-radius: 16px;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
  }
  &-item {
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    padding: 0.375rem 0.875rem;
    display: inline-block;
    margin-right: 0.625rem;
    transition: 0.3s;
    white-space: nowrap;
    transition: .3s;

    &-gold {
      border-color: $color-gold;

      &:hover {
        background-color: rgba($color-gold, 0.3);
      }
    }
    &-green {
      border-color: $color-green;

      &:hover {
        background-color: rgba($color-green, 0.3);
      }
    }
    &-red {
      border-color: $color-red;

      &:hover {
        background-color: rgba($color-red, 0.3);
      }
    }
    &-purple {
      border-color: $color-purple;

      &:hover {
        background-color: rgba($color-purple, 0.3);
      }
    }
  }
  &-choice {
    &-container {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      flex-direction: column;
      align-items: flex-start;
    }
    &-row {
      display: flex;
    }
    &-item {
      padding: 1rem;
      border-radius: 1rem;
      line-height: 1;
      font-weight: 600;
      cursor: pointer;
      background-color: rgba($color-blue, 0.1);
      color: $color-blue;
      border-color: transparent;

      &.active {
        background-color: $color-blue;
        color: white;
      }
    }
  }
}

.notification {
  position: relative;
  width: 1rem;
  height: 1rem;
  display: inline-block;

  path {
    transition: 0.3s;
  }

  &:hover {
    path {
      stroke: #97a7db;
    }
  }

  &:active {
    path {
      stroke: white;
    }
  }

  &-unread {
    &:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      top: 0.1875rem;
      right: -0.125rem;
      width: 0.3125rem;
      height: 0.3125rem;
      background: linear-gradient(45deg, #a03434 0%, #ff985e 100%);
      border: 0.125rem solid #1f2745;
      display: inline-block;
    }
  }
}

.avatar {
  background-color: $color-darkblue;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: relative;
  overflow: hidden;

  &-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
  }

  &-l {
    width: 4rem;
    height: 4rem;
  }

  &-m {
    width: 3.125rem;
    height: 3.125rem;
  }

  &-s {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.note {
  padding: 0.75rem 1.5rem;
  background-color: $color-placeholder;
  color: $color-lightblue;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 27.8125rem;

  &-icon {
    width: 1.875rem;
    margin-right: 1.25rem;
  }

  &-problem,
  &-success,
  &-error {
    color: white;
  }

  &-problem {
    background-color: rgba($color-gold, 10%);
  }

  &-success {
    background-color: rgba($color-green, 10%);
  }

  &-error {
    background-color: rgba($color-red, 10%);
  }
}

.gradient-top-dark {
  background: linear-gradient(180deg, rgba(69, 84, 137, 0) 0%, rgba($color-border, 0.1) 100%);
  border-radius: 1rem;
}

.auth {
  &-wait,
  &-request {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      font-weight: 600;
      max-width: 15.625rem;
      text-align: center;
    }
  }
  &-wait {
    padding: 5vh 0;
    position: relative;
    &-img {
      position: relative;
      width: 14.375rem;
      height: 14.375rem;
    }
    &-rifle,
    &-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-rifle {
      width: 14.375rem;
      z-index: 1;
    }
    &-circle {
      width: 12.8125rem;
    }
  }
  &-request {
    padding: 5vh 2rem;
    width: 100%;

    .text {
      color: white;
      margin-bottom: 1.5rem;
    }
  }
  &-items {
    display: flex;
    .btn-auth {
      background-image: url(../img/other/auth-btn-bg.svg);
      background-size: cover;
      background-position: center;
    }
    .auth-wait {
      padding: 0;
    }
    &-deposit {
      display: flex;
      align-items: flex-end;
      .form-input-text {
        max-width: 8rem;
        margin-right: 1rem;
      }
    }
    &-settings {
      margin-left: 2rem;
    }
    &-inventory {
      margin-bottom: 1.5rem;
      &-img {
        max-width: 2.1875rem;
        margin-right: 0.75rem;
      }
      &-choice {
        background-color: #4e70e9;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem 0 0 0.5rem;
        &-text,
        &-sum {
          color: white;
        }
        p {
          color: white;
        }
        &-sum {
          font-weight: 700;
          font-size: 0.875rem;
          line-height: 1.3125rem;
          margin: 0;
        }
        &-sign {
          font-weight: 600;
          font-size: 0.625rem;
          line-height: 0.9375rem;
          margin: 0;
        }
      }
      &-choose {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: rgba($color-blue, 0.1);
        &-text {
          font-weight: 600;
          font-size: 0.625rem;
          line-height: 0.9375rem;
          color: $color-text-body;
          margin: 0;
          padding-right: 0.5rem;
          max-width: 80%;
        }
      }
      &-dots {
        max-width: 0.25rem;
        margin-left: 2rem;
      }
    }
  }
}

.timer {
  position: relative;
  &-img {
    max-width: 100%;
  }
  &-text {
    color: white;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 46%;
    left: 35%;

    @media (max-width: 1440px) {
      top: 48%;
      left: 40%;
    }

    * {
      font-family: "DS-Digital";
      line-height: 0.6;
    }

    &-ticker {
      font-size: 2.5rem;
    }

    &-sec {
      font-size: 1.25rem;
    }
  }
}

.stats {
  &-container {
    overflow-y: auto;
  }
  &-row {
    display: flex;
    align-items: center;
    background-color: rgba($color-border, 0.1);
    border-radius: 16px;
    padding: 0.625rem 1.75rem 0.625rem 1.25rem;
    margin: 0.75rem 0;
    &-left,
    &-right {
      width: 55%;
      display: flex;
      align-items: center;
    }
    &-right {
      width: 45%;
    }
    &-top {
      padding: 1rem 2rem;
      margin: 0 0 0.25rem;

      &-heading {
        color: white;
        font-weight: 600;
        font-size: 1rem;
        white-space: nowrap;
        margin: 0 1.5rem 0 1rem;
      }

      &-item {
        display: flex;
        margin-left: 2rem;
        align-items: center;

        img {
          margin-right: 1rem;
          max-height: 1.5rem;
        }

        &-text {
          margin: 0;
          font-size: 0.75rem;
          font-weight: 600;
          color: $color-text-body;

          b {
            color: white;
            font-weight: 700;
            font-size: 1rem;
            white-space: nowrap;
          }
        }
      }
    }
    &-win {
      background-color: rgba($color-green, 0.1);
    }
    &-lose {
      background-color: rgba($color-red, 0.1);
    }
  }
  &-guns {
    &-row {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: 2rem;
    }
    &-item {
      max-height: 2.5rem;
    }
  }
  &-amount {
    font-weight: 600;
    font-size: 0.875rem;
    color: white;
  }
  &-avatar {
    position: relative;
    margin-right: 2rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
  &-result {
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    padding: 0.625rem 1.25rem;
    border-radius: 8px;
    background-color: rgba($color-border, 0.1);
    &-img {
      width: 3.4375rem;
      margin-left: auto;
    }
    &-win {
      background-color: rgba($color-green, 0.1);
    }
    &-lose {
      background-color: rgba($color-red, 0.1);
    }
    &:only-child {
      margin-left: auto;
    }
  }
  &-money {
    margin-left: auto;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: white;
    &-win {
      color: $color-green;
    }
    &-lose {
      color: $color-red;
    }
  }
}

.stake {
  display: flex;
  flex-direction: column;

  &-empty {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;

    &-icon {
      width: 3.75rem;
    }
  }

  &-heading {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    text-align: center;
    color: white;
    margin: 2rem 0 0.5rem;
  }

  &-text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: $color-text-body;
  }
}
