.main-heading {
  color: white;
  font-size: 1.5rem;
}

.sub-heading {
  color: white;
  font-size: 1.125rem;
}

.text {
  &-body,
  &-small,
  &-tiny,
  &-smallest {
    color: white;
  }
  &-body {
    font-size: 1rem;
  }
  &-small {
    font-size: 0.875rem;
  }
  &-tiny {
    font-size: 0.75rem;
  }
  &-smallest {
    font-size: 0.625rem;
  }
  &-faded {
    color: $color-text-body;
  }
  &-gold {
    color: $color-gold;
  }
  &-darkblue {
    color: $color-text-body;
  }
}

.heading-icon {
  max-width: 1.25rem;
  margin-right: .75rem;
}

.btn {
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  padding: 1.0625rem 2rem;
  text-decoration: none;
  line-height: 1;
  border-radius: 0.5rem;
  border: 0.125rem solid $color-blue;
  transition: .3s;
  min-width: 7.5rem;
  text-align: center;

  &-l {
    padding: 1.0625rem 2rem;
  }

  &-m {
    padding: 0.8125rem 2rem;
    @media (max-width: 1366px) {
      padding: 0.8125rem 1.25rem;
    }
  }

  &-icon {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.625rem;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s;

    &-loading {
      animation: loading-rotate 2s infinite linear;
    }

    &-right {
      margin: 0 0 0 .25rem;
      width: auto;
    }

    path {
      transition: 0.3s;
    }
  }

  &-primary {
    background-color: $color-blue;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }

    &.btn-disabled {
      opacity: 0.2;
    }
  }

  &-secondary {
    background-color: rgba($color-blue, 0.1);

    &:hover {
      background-color: rgba($color-blue, 0.2);
    }

    &:active {
      background-color: rgba($color-blue, 0);
    }

    &.btn-disabled {
      background-color: rgba($color-blue, 0.1);
      border-color: rgba($color-blue, 0);
      color: $color-blue;
    }
  }

  &-steam {
    white-space: nowrap;
    .btn-icon {
      margin: 0 0 0 0.625rem;
      width: 1.5rem;
      height: 1.5rem;
    }
    &:hover {
      background-color: $color-blue;
      .btn-icon {
        path {
          fill: white;
        }
      }
    }
    &:active {
      background-color: rgba($color-blue, 0.5);
      border-color: rgba($color-blue, 0.5);
      .btn-icon {
        path {
          fill: $color-blue;
        }
      }
    }
  }

  &-deposit,
  &-withdraw,
  &-return {
    background-color: $color-green;
    border-color: $color-green;
    padding: 0.75rem;
    min-width: unset;

    @media (max-width: 1180px) {
      padding: .5rem;
      position: relative;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    &[disabled] {
      opacity: 0.2;

      &:hover, &:active {
        opacity: 0.2;
      }
    }
  }

  &-withdraw {
    background-color: rgba($color-green, 0.5);
    border-color: rgba($color-green, 0);

    &:hover {
      background-color: $color-green;
      border-color: $color-green;
      opacity: 1;
    }
  }

  &-return {
    background-color: rgba($color-red, 0.5);
    border-color: rgba($color-red, 0);

    &:hover {
      background-color: $color-red;
      border-color: $color-red;
      opacity: 1;
    }
  }

  &-only {
    &-icon {
      height: 1rem;
    }
  }

  &-link {
    color: $color-blue;
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    border: 0;
    text-decoration: underline;
    &:hover {
      color: white;
    }
    &:active {
      color: white;
      opacity: 0.5;
    }
    &.btn-disabled {
      color: $color-border;
      text-decoration: none;
    }
  }

  &-chat {
    background-color: $color-blue;
    background-image: url(../img/icons/chat.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    min-width: unset;
    min-width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    padding: 0;
    margin-left: 1rem;
  }
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
