$bg-main: #1E2542;
$color-text-body: #576CB0;
$color-red: #FF5C30;
$color-blue: #4E70E9;
$color-green: #4ABA62;
$color-purple: #A430FF;
$color-gold: #EAC159;
$color-lightblue: #97A7DB;
$color-darkblue: #252F50;
$color-placeholder: #232C4B;
$color-border: #455489;